<div fxLayoutWrap >
  <div class="header" fxFlex="1 1 100%" fxLayoutAlign="center">YOU CAN CONTACT ME:</div>
  <div fxFlex="1 1 100%" fxLayoutAlign="center center">
    <form fxFlex="1 1 50%" fxLayoutAlign="center center" fxLayoutWrap>
      <input class="input" type="text" placeholder="Name">
      <input class="input" type="text" placeholder="E-mail">
      <textarea class="input"></textarea>
      <div fxFlex="1 1 100%" fxLayoutAlign="center center">
        <input type="submit">
      </div>
    </form>
  </div>
</div>
