<div fxFlex="1 1 100%">
  <div fxFlex="1 1 20%" class="portrait"></div>
  <div fxFlex="1 1 80%" fxLayoutAlign="center" fxLayoutWrap>
      <b>About PixelBox Digital & Toms Uluks</b>
      <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod pulvinar sagittis. Curabitur nec sollicitudin purus. Duis hendrerit lectus non nisl suscipit sollicitudin. Nunc a elit in magna tincidunt tempor id sit amet felis. Morbi eget mattis nibh. Nam vitae est pulvinar, interdum ligula ut, ullamcorper nunc. Praesent venenatis est ante, laoreet vehicula leo convallis nec. Pellentesque dui metus, tincidunt nec dolor non, blandit volutpat purus. Suspendisse pretium arcu in justo convallis, at facilisis purus consectetur. Praesent sit amet nunc eget nulla consequat pretium vitae id dolor. Mauris molestie feugiat justo at pellentesque. Suspendisse sodales faucibus rutrum. Curabitur maximus, eros eget dictum volutpat, metus sem faucibus risus, ut elementum nisl urna ut nulla. Duis faucibus tellus id elementum lobortis.</div>
  </div>
</div>