<div fxLayoutWrap>
  <div fxFlex="1 1 100%" fxLayoutAlign="center" class="header">MY WORK</div>
  <div fxFlex="1 1 50%" class="instaWrap">
    <div fxLayoutAlign="center" class="title">INSTAGRAM</div>
    <script src="//lightwidget.com/widgets/lightwidget.js"></script>
    <iframe
      src="//lightwidget.com/widgets/e309400841575d9ca0231f4310b08f6b.html" 
      scrolling="no" 
      allowtransparency="true" 
      class="lightwidget-widget" 
      style="width: 100%; height: 100%; border: 0; overflow: hidden;">
    </iframe>
  </div>
  <div fxLayoutAlign="start start" fxFlex="1 1 50%" fxLayoutWrap>
      <div fxFlex="1 1 100%" fxLayoutAlign="center" class="title">WEB APPS</div>
      <div class="imgWrap" fxFlex="1 1 100%">
        <div >
          <img  src="../../assets/TVNET_PIC.jpg">
        </div>
      </div>
      <div class="imgWrap" fxFlex="1 1 100%">
        <div fxFlex="1 1 100%" fxLayoutAlign="center" >
          <img fxFlex="1 1 25%" src="../../assets/Icons/github.svg">
        </div>
      </div>  
  </div>
</div>